<div class="mt-8 flex flex-col items-center space-y-2">
    <div class="w-1/2 space-y-3 mb-6">
        <h1 class="text-4xl font-bold text-gray-400">Escape HTML entities</h1>
        <p class="text-gray-400">
            Escape or unescape HTML entities (replace characters like <,>, &, " and ' with their HTML version).
        </p>
    </div>

    <div class="flex flex-row space-x-2 w-full">
        <div class="p-6 bg-gray-600 w-1/2 space-y-6">
            <p class="text-lg">Escape HTML entities</p>
            <div class="flex flex-col space-y-2">
                <p>Your string:</p>
                <input id="inputString" class="bg-gray-500 p-3 rounded-md" value="<title>IT Tool</title>">
            </div>
            <div class="flex flex-col space-y-2">
                <p>Your string escaped:</p>
                <p id="stringEscaped" class="bg-gray-500 p-3 rounded-md"></p>
            </div>
        </div>

        <div class="p-6 bg-gray-600 w-1/2 space-y-6">
            <p class="text-lg">Unescape HTML entities</p>
            <div class="flex flex-col space-y-2">
                <p>Your escaped string:</p>
                <input id="inputEscapedString" class="bg-gray-500 p-3 rounded-md" value="&amp;lt;title&amp;gt;IT Tool&amp;lt;/title&amp;gt;">
            </div>
            <div class="flex flex-col space-y-2">
                <p>Your string unescaped:</p>
                <p id="stringUnescaped" class="bg-gray-500 p-3 rounded-md"></p>
            </div>
        </div>
    </div>
</div>

{{!-- Escape --}}
<script>
    const inputString = document.getElementById("inputString");
    const stringEscaped = document.getElementById("stringEscaped");

    document.addEventListener("DOMContentLoaded", escapeHtml);
    inputString.addEventListener("input", escapeHtml);

    function escapeHtml() {
        const string = inputString.value;
        fetch(`/api/web/html-escape?string=${encodeURIComponent(string)}`)
            .then(response => response.json())
            .then(data => stringEscaped.textContent = data.stringEscaped)
            .catch(error => console.log(error));
    }
</script>

{{!-- Unescape --}}
<script>
    const inputEscapedString = document.getElementById("inputEscapedString");
    const stringUnescaped = document.getElementById("stringUnescaped");

    document.addEventListener("DOMContentLoaded", unescapeHtml);
    inputEscapedString.addEventListener("input", unescapeHtml);

    function unescapeHtml() {
        const escapedString = inputEscapedString.value;
        fetch(`/api/web/html-escape/unescape?escapedString=${encodeURIComponent(escapedString)}`)
            .then(response => response.json())
            .then(data => stringUnescaped.textContent = data.stringUnescaped)
            .catch(error => console.log(error));
    }
</script>
