<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/output.css">
    <title>IT Tools</title>
</head>

<body class="bg-gray-900 text-white">
    <div class="flex min-h-screen">
        <!-- Sidebar -->
        <div class="w-64 bg-gradient-to-b bg-gray-800 p-5">
            <a href="/">
                <div class="w-full bg-green-500 p-4 rounded">
                    <h1 class="text-2xl font-bold">IT - TOOLS</h1>
                    <p class="text-sm">Handy tools for developers</p>
                </div>
            </a>
            <div class="mt-5">
                <ul class="space-y-2">
                    {{#categories}}
                    <div class="flex flex-row items-center cursor-pointer">
                        <ion-icon name="chevron-forward-outline"></ion-icon>
                        <li class="block py-2 px-4">{{name}}</li>
                    </div>
                    {{/categories}}
                </ul>
            </div>
        </div>

        <!-- Main Content -->
        <div class="flex-1 p-10">
            <div class="flex justify-between items-center">
                <input type="text" placeholder="Search..."
                    class="px-4 py-2 w-1/3 bg-gray-800 border border-gray-700 rounded">
                <button class="px-4 py-2 bg-green-600 rounded">Buy me a coffee</button>
            </div>

            <div class="mt-8 flex flex-col items-center">
                <div class="w-1/2 space-y-3 mb-6">
                    <h1 class="text-4xl font-bold text-gray-400">URL parser</h1>
                    <p class="text-gray-400">Parse a URL into its separate constituent parts (protocol, origin, params,
                        port, username-password, ...).</p>
                </div>

                <div class="p-4 bg-gray-600 w-1/2 space-y-8">
                    <div id="urlInputtedContainer" class="flex flex-col space-y-2">
                        <p>Your url to parse</p>
                        <input id="urlInputted" placeholder="Your URL to parse..."
                            class="bg-gray-500 p-3 rounded-md text-sm"
                            value="https://me:pwd@it-tools.tech:3000/url-parser?key1=value&key2=value2#the-hash"></input>
                    </div>
                    <div class="w-full h-0.5 bg-gray-500"></div>
                    <div class="flex flex-col space-y-1 max-w-2xl">
                        <div class="flex space-x-1">
                            <p class="w-1/5 bg-gray-400 p-2 rounded-md">Protocol</p>
                            <div class="w-4/5 flex justify-between items-center bg-gray-500 p-2 rounded-md">
                                <input id="protocol" class="overflow-hidden whitespace-nowrap mr-2 w-full"
                                    readonly></input>
                                <ion-icon name="copy-outline"
                                    class="shrink-0  cursor-pointer hover:text-green-500 active:text-green-700 transition duration-200"></ion-icon>
                            </div>
                        </div>
                        <div class="flex space-x-1">
                            <p class="w-1/5 bg-gray-400 p-2 rounded-md">Username</p>
                            <div class="w-4/5 flex justify-between items-center bg-gray-500 p-2 rounded-md">
                                <input id="username" class="overflow-hidden whitespace-nowrap mr-2 w-full"
                                    readonly></input>
                                <ion-icon name="copy-outline"
                                    class="shrink-0  cursor-pointer hover:text-green-500 active:text-green-700 transition duration-200"></ion-icon>
                            </div>
                        </div>
                        <div class="flex space-x-1">
                            <p class="w-1/5 bg-gray-400 p-2 rounded-md">Password</p>
                            <div class="w-4/5 flex justify-between items-center bg-gray-500 p-2 rounded-md">
                                <input id="password" class="overflow-hidden whitespace-nowrap mr-2 w-full"
                                    readonly></input>
                                <ion-icon name="copy-outline"
                                    class="shrink-0  cursor-pointer hover:text-green-500 active:text-green-700 transition duration-200"></ion-icon>
                            </div>
                        </div>
                        <div class="flex space-x-1">
                            <p class="w-1/5 bg-gray-400 p-2 rounded-md">Hostname</p>
                            <div class="w-4/5 flex justify-between items-center bg-gray-500 p-2 rounded-md">
                                <input id="hostname" class="overflow-hidden whitespace-nowrap mr-2 w-full"
                                    readonly></input>
                                <ion-icon name="copy-outline"
                                    class="shrink-0  cursor-pointer hover:text-green-500 active:text-green-700 transition duration-200"></ion-icon>
                            </div>
                        </div>
                        <div class="flex space-x-1">
                            <p class="w-1/5 bg-gray-400 p-2 rounded-md">Port</p>
                            <div class="w-4/5 flex justify-between items-center bg-gray-500 p-2 rounded-md">
                                <input id="port" class="overflow-hidden whitespace-nowrap mr-2 w-full" readonly></input>
                                <ion-icon name="copy-outline"
                                    class="shrink-0  cursor-pointer hover:text-green-500 active:text-green-700 transition duration-200"></ion-icon>
                            </div>
                        </div>
                        <div class="flex space-x-1">
                            <p class="w-1/5 bg-gray-400 p-2 rounded-md">Path</p>
                            <div class="w-4/5 flex justify-between items-center bg-gray-500 p-2 rounded-md">
                                <input id="path" class="overflow-hidden whitespace-nowrap mr-2 w-full" readonly></input>
                                <ion-icon name="copy-outline"
                                    class="shrink-0  cursor-pointer hover:text-green-500 active:text-green-700 transition duration-200"></ion-icon>
                            </div>
                        </div>
                        <div class="flex space-x-1">
                            <p class="w-1/5 bg-gray-400 p-2 rounded-md">Params</p>
                            <div class="w-4/5 flex justify-between items-center bg-gray-500 p-2 rounded-md">
                                <input id="params" class="overflow-hidden whitespace-nowrap mr-2 w-full"
                                    readonly></input>
                                <ion-icon name="copy-outline"
                                    class="shrink-0  cursor-pointer hover:text-green-500 active:text-green-700 transition duration-200"></ion-icon>
                            </div>
                        </div>
                        <div class="flex space-x-1">
                            <p class="w-1/5 bg-gray-400 p-2 rounded-md">Fragment</p>
                            <div class="w-4/5 flex justify-between items-center bg-gray-500 p-2 rounded-md">
                                <input id="fragment" class="overflow-hidden whitespace-nowrap mr-2 w-full"
                                    readonly></input>
                                <ion-icon name="copy-outline"
                                    class="shrink-0  cursor-pointer hover:text-green-500 active:text-green-700 transition duration-200"></ion-icon>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{!-- Parse URL --}}
        <script>
            document.addEventListener("DOMContentLoaded", parseUrl);
            const urlInputted = document.getElementById("urlInputted");
            urlInputted.addEventListener("input", parseUrl);

            const protocol = document.getElementById("protocol");
            const username = document.getElementById("username");
            const password = document.getElementById("password");
            const hostname = document.getElementById("hostname");
            const port = document.getElementById("port");
            const path = document.getElementById("path");
            const params = document.getElementById("params");
            const fragment = document.getElementById("fragment");

            function parseUrl() {
                const urlString = urlInputted.value;

                fetch(`/api/web/url-parser?urlString=${encodeURIComponent(urlString)}`)
                    .then(response => response.json())
                    .then(data => {
                        const urlInputtedContainer = document.getElementById("urlInputtedContainer");
                        if (data.isSuccess) {
                            protocol.value = data.protocol;
                            username.value = data.username;
                            password.value = data.password;
                            hostname.value = data.hostname;
                            port.value = data.port;
                            path.value = data.path;
                            params.value = data.params;
                            fragment.value = data.fragment;

                            const errorElement = document.getElementById("errorMessage");
                            if (errorElement) {
                                errorElement.remove();
                            }
                        }
                        else {
                            protocol.value = "";
                            username.value = "";
                            password.value = "";
                            hostname.value = "";
                            port.value = "";
                            path.value = "";
                            params.value = "";
                            fragment.value = "";
                            if (!document.getElementById("errorMessage")) {
                                const errorElement = document.createElement("p");
                                errorElement.id = "errorMessage";
                                errorElement.className = "text-red-600";
                                errorElement.textContent = "Invalid url";
                                urlInputtedContainer.appendChild(errorElement);
                            }
                        }
                    })
                    .catch(error => console.log(error));
            }
        </script>

        {{!-- Copy to clipboard --}}
        <script>
            document.querySelectorAll("ion-icon").forEach(icon => {
                icon.addEventListener("click", () => {
                    const textToCopy = icon.previousElementSibling.value.trim();
                    if (textToCopy) {
                        navigator.clipboard.writeText(textToCopy)
                            .then(() => alert("Copied!\n" + textToCopy))
                            .catch(err => alert("Failed to copy!", err));
                    }
                });
            });
        </script>

        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>