<div class="mt-8 flex flex-col items-center">
    <div class="w-1/2 space-y-3 mb-6">
        <h1 class="text-4xl font-bold text-gray-400">JSON prettify and format</h1>
        <p class="text-gray-400">Prettify your JSON string into a friendly, human-readable format.</p>
    </div>

    <div class="flex p-8 space-x-4">
        <div class="flex space-x-3 items-center">
            <p>Sort keys :</p>
            <label class="relative inline-flex items-center cursor-pointer">
                <input type="checkbox" id="sortToggle" class="sr-only peer" value="true" />
                <div class="w-12 h-6 bg-gray-500 peer-focus:ring-4 peer-focus:ring-green-300 rounded-full peer peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:left-1 after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-green-600">
                </div>
            </label>
        </div>
        <div class="flex space-x-3 items-center">
            <p>Indent size :</p>
            <input id="indentSizeInput" type="number" value="4" min="0"
                class="bg-gray-500 w-20 p-2 rounded-lg px-4">
        </div>
    </div>

    <div class="flex w-full space-x-2">
        <div id="divContainer" class="flex flex-col w-1/2 space-y-2">
            <p>Your raw JSON</p>
            <div class="flex flex-col bg-gray-600 rounded-sm p-4">
                <input id="rawJson" type="text"
                    value='{"hello": "world", "foo": "bar", "value": {"hello": "world", "foo": "bar"}}'>
            </div>
        </div>
        <div class="flex flex-col w-1/2 space-y-2">
            <p>Prettified version of your JSON</p>
            <div class="flex flex-col bg-gray-600 rounded-sm p-4">
                <pre id="jsonPrettified"></pre>
            </div>
        </div>
    </div>
</div>

<script>
    const rawJson = document.getElementById("rawJson");
    const jsonPrettified = document.getElementById("jsonPrettified");
    const sortToggle = document.getElementById("sortToggle");
    const indentSizeInput = document.getElementById("indentSizeInput");
    const divContainer = document.getElementById("divContainer");

    document.addEventListener("DOMContentLoaded", jsonFormatter);
    rawJson.addEventListener("input", jsonFormatter);
    sortToggle.addEventListener("input", jsonFormatter);
    indentSizeInput.addEventListener("input", jsonFormatter);

    function jsonFormatter() {
        const jsonText = rawJson.value;
        const isSort = sortToggle.checked;
        const indentSize = Number(indentSizeInput.value);
        let jsonParsed;

        try {
            jsonParsed = JSON.parse(jsonText);
        } catch {
            jsonPrettified.textContent = "Invalid JSON";
            return;
        }

        if (isSort) {
            jsonParsed = Object.keys(jsonParsed)
                .sort()
                .reduce((acc, key) => {
                    acc[key] = jsonParsed[key];
                    return acc;
                }, {});
        }

        jsonPrettified.textContent = JSON.stringify(jsonParsed, null, indentSize);
    }
</script>
