<div class="mt-8 flex flex-col items-center">
    <div class="w-1/2 space-y-3 mb-6">
        <h1 class="text-4xl font-bold text-gray-400">Random port generator</h1>
        <p class="text-gray-400">Generate random port numbers outside of the range of "known" ports (0-1023).</p>
    </div>

    <div class="w-1/2 flex flex-col bg-gray-600 items-center p-6 space-y-8 rounded-sm">
        <p id="portNumber" class="text-4xl pt-6"></p>
        <div class="flex space-x-4">
            <button id="btnCopy"
                class="p-3 bg-gray-500 rounded-lg cursor-pointer hover:bg-gray-400 active:bg-gray-300">Copy</button>
            <button id="btnRefresh"
                class="p-3 bg-gray-500 rounded-lg cursor-pointer hover:bg-gray-400 active:bg-gray-300">Refresh</button>
        </div>
    </div>
</div>

<script>
    const portNumber = document.getElementById("portNumber");
    const btnRefresh = document.getElementById("btnRefresh");

    document.addEventListener("DOMContentLoaded", randomPort);
    btnRefresh.addEventListener("click", randomPort);

    function randomPort() {
        fetch(`/api/development/random-port-generator`)
            .then(response => response.json())
            .then(data => portNumber.textContent = data.portNumber)
            .catch(error => console.log(error));
    }
</script>

<script>
    const btnCopy = document.getElementById("btnCopy");
    btnCopy.addEventListener("click", () => {
        const textToCopy = portNumber.textContent.trim();
        if (textToCopy) {
            navigator.clipboard.writeText(textToCopy)
                .then(() => alert("Copied!\n" + textToCopy))
                .catch(err => alert("Failed to copy!", err));
        }
    });
</script>