<div class="mt-8 flex flex-col items-center space-y-2">
    <div class="w-1/2 space-y-3 mb-6">
        <h1 class="text-4xl font-bold text-gray-400">Text to Unicode
        </h1>
        <p class="text-gray-400">Parse and convert text to unicode and vice-versa.</p>
    </div>

    <div class="flex flex-row space-x-2 w-full">
        <div class="p-6 bg-gray-600 w-1/2 space-y-6">
            <p class="text-lg">Text to Unicode</p>
            <div class="flex flex-col space-y-2">
                <p>Enter text to convert to unicode</p>
                <input id="inputText" class="bg-gray-500 p-3 rounded-md" placeholder="e.g 'Hello world'"></input>
            </div>
            <div class="flex flex-col space-y-2">
                <p>Unicode from your text</p>
                <p id="unicodeFromText" class="bg-gray-500 p-3 rounded-md">
                </p>
            </div>
        </div>
        <div class="p-6 bg-gray-600 w-1/2 space-y-6">
            <p class="text-lg">Unicode to Text</p>
            <div id="unicodeInputContainer" class="flex flex-col space-y-2">
                <p>Enter unicode to convert to text</p>
                <input id="inputUnicode" class="bg-gray-500 p-3 rounded-md"
                    placeholder="e.g '01001000 01101001'"></input>
            </div>
            <div class="flex flex-col space-y-2">
                <p>Text from your Unicode</p>
                <p id="textFromUnicode" class="bg-gray-500 p-3 rounded-md">
                </p>
            </div>
        </div>
    </div>
</div>

{{!-- Chuyển đổi text to unicode --}}
<script>
    const inputText = document.getElementById("inputText");
    const unicodeFromText = document.getElementById("unicodeFromText");

    inputText.addEventListener("input", convertTextToUnicode);

    function convertTextToUnicode() {
        const textString = inputText.value;

        fetch(`/api/converter/text-to-unicode?textString=${textString}`)
            .then(response => response.json())
            .then(data => unicodeFromText.textContent = data.unicodeFromText)
            .catch(error => console.log(error));
    }
</script>

{{!-- Chuyển đổi unicode to text --}}
<script>
    const inputUnicode = document.getElementById("inputUnicode");
    const textFromUnicode = document.getElementById("textFromUnicode");

    inputUnicode.addEventListener("input", convertUnicodeToText);

    function convertUnicodeToText() {
        const unicodeString = inputUnicode.value;

        if (unicodeString == "") {
            textFromUnicode.textContent = "";
            const errorElement = document.getElementById("errorMessage");
            if (errorElement) {
                errorElement.remove();
            }

            return;
        }

        fetch(`/api/converter/text-to-unicode?reverse&unicodeString=${encodeURIComponent(unicodeString)}`)
            .then(response => response.json())
            .then(data => {
                const divContainer = document.getElementById("unicodeInputContainer");
                if (data.isSuccess) {
                    textFromUnicode.textContent = data.textFromUnicode;
                    const errorElement = document.getElementById("errorMessage");
                    if (errorElement) {
                        errorElement.remove();
                    }
                } else {
                    if (!document.getElementById("errorMessage")) {
                        textFromUnicode.textContent = "";
                        const errorElement = document.createElement("p");
                        errorElement.id = "errorMessage";
                        errorElement.className = "text-red-600";
                        errorElement.textContent = "Incorrect unicode format";
                        divContainer.appendChild(errorElement);
                    }
                }
            })
            .catch(error => console.log(error));
    }
</script>